.main-content {
    position: relative;
    margin-top: 300px;
    font-family: var(--ff-primary);
}

.about-me {
    text-align: center;
    margin: 0 16px;
    padding-bottom: 50px;
    width: fit-content;
    border-bottom: 1px solid var(--clr-white);
}

.about-me h1 {
    font-weight: var(--fw-bold);
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 25px;
}

.about-me span {
    border-bottom: 3px solid var(--clr-primary-flow);
    width: fit-content;

}

.about-me h3 {
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 17px;
    text-decoration: none;
    border-bottom: 2px solid var(--clr-primary-flow);
    width: fit-content;
    padding: 12px 0;
    letter-spacing: 2px;
}

.my-experience {
    text-align: center;
}

.my-experience h1 {
    font-size: 32px;
}

.my-experience-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 15px;
    padding: 40px;
    border-bottom: 1px solid var(--clr-white);
}