.main-content {
    position: relative;
    margin-top: 300px;
    font-family: var(--ff-primary);
}

.about-me {
    text-align: center;
    margin: 0 16px;
    padding-bottom: 50px;
    width: fit-content;
    border-bottom: 1px solid var(--clr-white);
}

.about-me h1 {
    font-weight: var(--fw-bold);
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 25px;
}

.about-me span {
    border-bottom: 3px solid var(--clr-primary-flow);
    width: fit-content;

}

.about-me h3 {
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid var(--clr-primary-flow);
    width: fit-content;
    padding: 12px 0;
    letter-spacing: 2px;
}

.my-experience {
    text-align: center;
}

.my-experience h1 {
    font-size: 32px;
}

.my-experience-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 15px;
    padding: 40px;
    border-bottom: 1px solid var(--clr-white);
}

.my-projects picture{
    margin: 20px 0;
}

.my-projects-header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    padding: 80px 0 20px 0;
    align-items: center;
}

.my-projects-header h1 {
    font-size: 40px;
}

.my-projects-header h3 {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid var(--clr-primary-flow);
    width: fit-content;
    padding: 12px 0;
    letter-spacing: 2px;
}

.project {
    margin: 0 16px;
}

.project h2 {
    text-transform: uppercase;
    font-size: 24px;
}

.project p {

}

.project h3 {

}

.project-title-tec {
    display: flex;
    gap: 18px;
}

.project-view-code {
    display: flex;
    gap: 30px;
}

.project-view-code h3 {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid var(--clr-primary-flow);
    width: fit-content;
    padding: 12px 0;
    letter-spacing: 2px;
}