.main-content {
    position: relative;
    margin-top: 300px;
    font-family: var(--ff-primary);
}

.about-me {
    text-align: center;
    margin: 0 16px;
    padding-bottom: 50px;
    width: fit-content;
    border-bottom: 1px solid var(--clr-white);
}

.about-me h1 {
    font-weight: var(--fw-bold);
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 25px;
}

.about-me span {
    border-bottom: 3px solid var(--clr-primary-flow);
    width: fit-content;
}

.about-me h3 {
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid var(--clr-primary-flow);
    width: fit-content;
    padding: 12px 0;
    letter-spacing: 2px;
}

@media only screen and (min-width: 1200px) {

    * {
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .main-content {
        margin-top: 127px;
    }

    .about-me {
        margin-left: 165px;
        text-align: left;
        padding-bottom: 169px;
        width: 79%;
    }

    .about-me p {
        padding: 43px 0;
        line-height: 28px;
        font-size: 18px;
        width: 38%;
    }

    .about-me h1 {
        font-size: 88px;
        line-height: 100px;
        width: 75%;
    }

    .about-me h3 {
        margin: 0;
    }


}


.my-experience {
    text-align: center;
}

.my-experience h1 {
    font-size: 32px;
}

.my-experience-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 15px;
    padding: 40px;
    border-bottom: 1px solid var(--clr-white);
}

.my-projects {
    margin-bottom: 80px;
}

.my-projects picture{
    margin: 20px 0;
}

.my-projects-header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    padding: 80px 0 20px 0;
    align-items: center;
}

.my-projects-header h1 {
    font-size: 40px;
}

.my-projects-header h3 {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid var(--clr-primary-flow);
    width: fit-content;
    padding: 12px 0;
    letter-spacing: 2px;
}

.project {
    margin: 0 16px;
}

.project h2 {
    text-transform: uppercase;
    font-size: 24px;
}

.project-title-tec {
    display: flex;
    gap: 18px;
}

.project-view-code {
    display: flex;
    gap: 30px;
}

.project-view-code h3 {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid var(--clr-primary-flow);
    width: fit-content;
    padding: 12px 0;
    letter-spacing: 2px;
}

.contact-me {
    background-color: var(--clr-secondary-bg-600);
    text-align: center;
}

.contact-me-container {
    padding-top: 60px;
    margin: 0 16px;
}

.contact-me-container h1 {
    font-size: 40px;
}

.contact-me-container p:first-of-type {
    font-size: 16px;
}

.contact-me-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
}

.contact-me-inputs input, .contact-me-inputs textarea{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    width: 100%;
}

.contact-me-inputs span {
    opacity: 0.5;
    text-transform: uppercase;
    margin-left: 24px;
    margin-top: 32px;
}

#contact-me-send-button {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--clr-white);
}

#contact-me-send-button button {
    display: flex;
    justify-content: center;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--clr-white);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid var(--clr-primary-flow);
    width: fit-content;
    padding: 12px 0;
    margin-top: 32px;
    margin-bottom: 87px;
    letter-spacing: 2px;
    font-family: var(--ff-primary);
}

.second-ring-image {
    position: absolute;
    right: -50%;
    top: 850px;
    height: 129px;
}

.third-ring-image {
    position: absolute;
    left: -50%;
    bottom: 105px;
    height: 129px;
}